.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.info {
    height: 200px;
    width: 250px;
    border: 1px solid black;
    padding: 1rem;
}